
    @{
        ViewBag.Title = "Home Page";
    }
    <div class="container-full-bg">         <!--  increased the jumbotron width -->
        <div class="jumbotron jumbotron-fluid">   @*I tried everything I could think of for 2 hours to get the image to fill the width*@
            <h1 class="display-2">Wardrobe Inventory</h1>
            <h2 class="display-2">Tracking clothing inventory one piece at a time.</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
